<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta title="Albarracín Parfums - Perfumería de lujo nicho">
    <meta name="description" content="Perfumes únicos, destacados por la fina selección de materiales y una intención de diseño para que destaques del resto.
    Comprá Online, envíos a todo CABA">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="icon" href="/imgs/fragancia-cuero-cafe.svg">
    <title>Albarracin Parfums - Inicio</title>
    <script defer src="script.js"></script>
    <script defer src="burger.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="divMain">
    <header class="header"> 
        <nav class="navbar">
            <ol class="olNavbar">
                <li><a href="/"><img class="logo" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a></li>
                <li><button class="liNavbar"><a href="/" class="buttonAnchor">Inicio</a></button></li>
                <li><button class="liNavbar"><a href="/Perfumes" class="buttonAnchor">Perfumes</a></button></li>
                <li><button class="liNavbar"><a href="/Sobre-nosotros" class="buttonAnchor">Sobre nosotros</a></button></li>
                <li><button class="liNavbar"><a href="/Contacto" class="buttonAnchor">Contacto</a></button></li>
                <li><a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgHeader" src="/imgs/Sempiterno-Perfume 50ml.svg"></a></li>
            </ol>
        </nav>
    </header>

    <header class="headerburger">
        <div class="container"> 
            <nav class="navbar">
              <a href="/"><img class="nav-branding" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a>
              <ul class="nav-menu">
                <li class="nav-item">
                  <a href="/" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                  <a href="/Perfumes" class="nav-link">Perfumes</a>
                </li>
                <li class="nav-item">
                  <a href="/Sobre-nosotros" class="nav-link">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="/Contacto" class="nav-link">Contacto</a>
                </li>
              </ul>
              <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </nav>
         </div>
    </header>
    
    <div class="parent">
        <div class="buyDiv">
            <a href="register"><button class="buyButton">Comprar</button></a>
        </div>
    </div>
    

    <h2 class="h2Perfu">Nuestros perfumes</h2>

    <div class="div2Perfu">
        <section class="sectionSempi">
            <div class="divSempi">
            <h2 class="h2sectionSempi">Sempiterno</h2>
            <h3 class="h3sectionSempi">Un momento eterno, clásico, opulencia</h3>
            <a href="https://www.albarracinparfums.com.ar/MLA-1675661818-perfume-albarracin-sempiterno-parfum-50ml-_JM#position=1&search_layout=grid&type=item&tracking_id=5b76ca88-995d-4157-a99c-4f5f788cbdf2"><button class="buttonsectionSempi">Comprar ahora</button></a>
            </div>
        </section>
        <section class="sectionEuri">
            <div class="divEuri">
            <h2 class="h2sectionEuri">Euritmia</h2>
            <h3 class="h3sectionEuri">La danza que nunca termina, la fragancia presente</h3>
            <a href="register"><button class="buttonsectionEuri">Comprar</button></a>
            </div>
        </section>
    </div>

    <div class="divPrueba">

        <section class="section1">
        <div class="parentImg1">
        <h3 class="h3Animation1">Albarracín emerge<br><br>como la casa<br>icónica que redefine<br> la sofisticación aromática</h3>
        </div>
        <h3 class="pruebaH31">Elegancia</h3>
        
        <a href="/Sobre-nosotros"><button class="pruebaButton">Conocé más</button></a>
        </section>
        <section class="section2">
        <div class="parentImg2">
        <h3 class="h3Animation2">Albarracín emerge<br><br>como la casa<br>icónica que redefine<br> la sofisticación aromática</h3>
        </div>
        <h3 class="pruebaH32">Calidad</h3>
        
        </section>
        <section class="section3">
        <div class="parentImg3">
        <h3 class="h3Animation3">Albarracín emerge<br><br>como la casa<br>icónica que redefine<br> la sofisticación aromática</h3>
        
        </div>
        <h3 class="pruebaH33">Confianza</h3>
        
        
        </section>

    </div>

    <div class="divInfoHome">

        <h3 class="h3InfoHome"><i class="fa-solid fa-truck" style="color: #CBA052;"></i> <br>Envío gratis<br>¡Contamos con envíos gratis a todo el pais!</h3>
        <h3 class="h3InfoHome"><i class="fa-solid fa-shop" style="color: #CBA052;"></i> <br>Cuotas<br>En cualquier compra podes comprar hasta con 3 cuotas sin interés</h3>
        <h3 class="h3InfoHome"><i class="fa-solid fa-percent" style="color: #CBA052;"></i> <br>Descuentos<br>En cada compra ¡te vamos a estar regalando descuentos de por vida!</h3>

    </div>

    <footer class="footer">
        <img src="/imgs/prueba1.png" alt="" class="imgFooter">
        <div class="divFooter">
        <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImg" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
        <h3 class="h3Footer2">2025 © Albarracín Parfums</h3>
        </div>
    </footer>
    <footer class="footermobile">
    <div class="divFootermobile">
    <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgmobile" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
    <h3 class="h3Footer2mobile">2025 © Albarracín Parfums</h3>
    <img src="/imgs/prueba1.png" alt="" class="imgFootermobile">
    </div>
    </footer>
    </div>
</body>
</html>