<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta title="Albarracín Parfums - Perfumería de lujo nicho">
    <meta name="description" content="Perfumes únicos, destacados por la fina selección de materiales y una intención de diseño para que destaques del resto.
    Comprá Online, envíos a todo CABA">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" href="/imgs/fragancia-cuero-cafe.svg">
    <title>Albarracin Parfums - Nosotros</title>
    <script defer src="script.js"></script>
    <script defer src="burger.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="divMain">
        <header class="header"> 
            <nav class="navbar">
                <ol class="olNavbar">
                    <li><a href="/"><img class="logo" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a></li>
                    <li><button class="liNavbar"><a href="/" class="buttonAnchor">Inicio</a></button></li>
                    <li><button class="liNavbar"><a href="/Perfumes" class="buttonAnchor">Perfumes</a></button></li>
                    <li><button class="liNavbar"><a href="/Sobre-nosotros" class="buttonAnchor">Sobre nosotros</a></button></li>
                    <li><button class="liNavbar"><a href="/Contacto" class="buttonAnchor">Contacto</a></button></li>
                    <li><a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgHeader" src="/imgs/Sempiterno-Perfume 50ml.svg"></a></li>
                </ol>
            </nav>
        </header>

        <header class="headerburger">
            <div class="container"> 
                <nav class="navbar">
                  <a href="/"><img class="nav-branding" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a>
                  <ul class="nav-menu">
                    <li class="nav-item">
                      <a href="/" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a href="/Perfumes" class="nav-link">Perfumes</a>
                    </li>
                    <li class="nav-item">
                      <a href="/Sobre-nosotros" class="nav-link">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contacto" class="nav-link">Contacto</a>
                    </li>
                  </ul>
                  <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                </nav>
             </div>
        </header>
        
    <div class="divUsvideo">
    <video class="video" autoplay muted loop>
        <source src="/imgs/videoSempi.mp4" type="video/mp4">
    </video>
    <div class="infoDiv1">
    <h2 class="h2Nosotros">Sempiterno</h2>
    <h3 class="h3Nosotros">Nuestra primera fragancia,<br> una oleada de emociones fue el camino y le etapa de la creación de este perfume,<br> fue una experiencia que nos llenó de experiencia</h3>
    </div>
    </div>
    
    <div class="divUs1">
        <div class="infoDiv1">
        <h2 class="h2Nosotros">Nosotros</h2>
        <h3 class="h3Nosotros">Albarracin Parfums,<br> una familia con mucho interés de incursionar en el mundo de los perfumes,<br> contamos con pasión y creatividad,<br> felices de lo que logramos y lo que tenemos pensado a futuro</h3>
        </div>
        <img src="/imgs/nosotros-perfume-nicho.jpg" class="imgNosotros1">
    </div>

    <div class="divUs1">
        <img src="/imgs/nina.webp" class="imgNosotros2">
        <div class="infoDiv1">
        <h2 class="h2Nosotros">Con quienes trabajamos</h2>
        <h3 class="h3Nosotros">Contamos con la confianza de trabajar al lado de los mejores colaboradores</h3>
        </div>
    </div>

    <footer class="footer">
      <img src="/imgs/prueba1.png" alt="" class="imgFooter">
      <div class="divFooter">
      <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImg" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
      <h3 class="h3Footer2">2025 © Albarracín Parfums</h3>
      </div>
    </footer>
    <footer class="footermobile">
      <div class="divFootermobile">
      <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgmobile" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
      <h3 class="h3Footer2mobile">2025 © Albarracín Parfums</h3>
      <img src="/imgs/prueba1.png" alt="" class="imgFootermobile">
      </div>
      </footer>
    </div>
</body>
</html>