<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta title="Albarracín Parfums - Perfumería de lujo nicho">
    <meta name="description" content="Perfumes únicos, destacados por la fina selección de materiales y una intención de diseño para que destaques del resto.
    Comprá Online, envíos a todo CABA">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" href="/imgs/fragancia-cuero-cafe.svg">
    <title>Albarracin Parfums - Nosotros</title>
    <script defer src="script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="divMain">
        <header class="header">
            <a href="/"><img class="logo" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a>
            <br>
            <nav class="navbar">
                <ol class="olNavbar">
                    <li><button class="liNavbar"><a href="/" class="buttonAnchor">Inicio</a></button></li>
                    <li><button class="liNavbar"><a href="/Perfumes" class="buttonAnchor">Perfumes</a></button></li>
                    <li><button class="liNavbar"><a href="/Sobre-nosotros" class="buttonAnchor">Sobre nosotros</a></button></li>
                    <li><button class="liNavbar"><a href="/Novedades" class="buttonAnchor">Novedades</a></button></li>
                    <li><button class="liNavbar"><a href="/Contacto" class="buttonAnchor">Contacto</a></button></li>
                    <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgHeader" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
                </ol>
            </nav>
        </header>
    <div class="divUs1">
    <video width="360px" height="320" style="overflow: hidden; margin-left: 20px; border: solid 2px transparent; border-radius: 5px;margin-top: 50px;margin-bottom: 50px;" autoplay muted loop>
        <source src="/imgs/videoSempi.mp4" type="video/mp4">
    </video>
    <div class="infoDiv1">
    <h2>Sempiterno</h2>
    <h3>Nuestra primera fragancia, una oleada de emociones fue el camino y le etapa de la creación de este perfume, fue una experiencia que nos llenó de experiencia</h3>
    </div>
    </div>
    
    <div class="divUs1">
        <div class="infoDiv1">
        <h2>Nosotros</h2>
        <h3>Albarracin Parfums, una familia con mucho interés de incursionar en el mundo de los perfumes, contamos con pasión y creatividad, felices de lo que logramos y lo que tenemos pensado a futuro</h3>
        </div>
        <img src="/imgs/nosotros-perfume-nicho.jpg" class="imgNosotros1">
    </div>

    <div class="divUs1">
        <img src="/imgs/nina.webp" class="imgNosotros2">
        <div class="infoDiv1">
        <h2>Con quienes trabajamos</h2>
        <h3>Contamos con la confianza de trabajar al lado de los mejores colaboradores</h3>
        </div>
    </div>

    <footer class="footer">
        <img src="/imgs/prueba1.png" alt="" class="imgFooter">
        <div class="divFooter">
        <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImg" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
        <h3 class="h3Footer2">2025 © Albarracín Parfums</h3>
        </div>
    </footer>
    </div>
</body>
</html>