<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta title="Albarracín Parfums - Perfumería de lujo nicho">
        <meta name="description" content="Perfumes únicos, destacados por la fina selección de materiales y una intención de diseño para que destaques del resto.
        Comprá Online, envíos a todo CABA">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link rel="icon" href="/imgs/fragancia-cuero-cafe.svg">
        <title>Albarracin Parfums - Registrar Usuario</title>
        <script defer src="script.js"></script>
        <script defer src="/js/validation.js"></script> <!-- Archivo para validación en cliente -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body  class="registerBody">
    <div class="divMain">
        <header class="header"> 
            <nav class="navbar">
                <ol class="olNavbar">
                    <li><a href="/"><img class="logo" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a></li>
                    <li><button class="liNavbar"><a href="/" class="buttonAnchor">Inicio</a></button></li>
                    <li><button class="liNavbar"><a href="/Perfumes" class="buttonAnchor">Perfumes</a></button></li>
                    <li><button class="liNavbar"><a href="/Sobre-nosotros" class="buttonAnchor">Sobre nosotros</a></button></li>
                    <li><button class="liNavbar"><a href="/Contacto" class="buttonAnchor">Contacto</a></button></li>
                    <li><a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgHeader" src="/imgs/Sempiterno-Perfume 50ml.svg"></a></li>
                </ol>
            </nav>
        </header>

        <div class="headerburger">

            <a href="/"><img class="logoburger" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a>
    
            <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
            <nav class="nav" id="nav">
                <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
                <ul class="nav-list">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Perfumes">Perfumes</a></li>
                    <li><a href="/Sobre-nosotros">Sobre Nosotros</a></li>
                    <li><a href="/Contacto">Contacto</a></li>
                </ul>
            </nav>
    
        </div>
        <br>
        <br>
        <div class="containerCompra">

            <img src="/imgs/euri.jpg" class="imgEuri"></img>
            
            <div class="detailBuy">
                <div>
                    <h2 class="producto">EURITMIA - Albarracín Parfums</h2>
                    <h2 class="precio2">$ 160.000 </h2>
                </div>
                <h3 class="h3Error">Usuario no encontrado,<br> Descuento no aplicado</h3>

                <a href="/register"><button class="buyEuri3">Volver</button></a>

                <a href="https://mpago.li/2jcbdWE"><button class="buyEuri3">Comprar</button></a>

        </div>

    </div>
    <br>
    <br>
    <br>
    <footer class="footer">
        <img src="/imgs/prueba1.png" alt="" class="imgFooter">
        <div class="divFooter">
        <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImg" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
        <h3 class="h3Footer2">2025 © Albarracín Parfums</h3>
        </div>
    </footer>
</div>
</body>
</html>