<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta title="Albarracín Parfums - Perfumería de lujo nicho">
    <meta name="description" content="Perfumes únicos, destacados por la fina selección de materiales y una intención de diseño para que destaques del resto.
    Comprá Online, envíos a todo CABA">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" href="/imgs/fragancia-cuero-cafe.svg">
    <title>Albarracin Parfums - Perfumes</title>
    <script defer src="script.js"></script>
    <script defer src="burger.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="bodyPerfumes">
    <div class="divMain">
      <header class="header"> 
         <nav class="navbar">
             <ol class="olNavbar">
                 <li><a href="/"><img class="logo" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a></li>
                 <li><button class="liNavbar"><a href="/" class="buttonAnchor">Inicio</a></button></li>
                 <li><button class="liNavbar"><a href="/Perfumes" class="buttonAnchor">Perfumes</a></button></li>
                 <li><button class="liNavbar"><a href="/Sobre-nosotros" class="buttonAnchor">Sobre nosotros</a></button></li>
                 <li><button class="liNavbar"><a href="/Contacto" class="buttonAnchor">Contacto</a></button></li>
                 <li><a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgHeader" src="/imgs/Sempiterno-Perfume 50ml.svg"></a></li>
             </ol>
         </nav>
     </header>

     <header class="headerburger">
      <div class="container"> 
          <nav class="navbar">
            <a href="/"><img class="nav-branding" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a>
            <ul class="nav-menu">
              <li class="nav-item">
                <a href="/" class="nav-link">Inicio</a>
              </li>
              <li class="nav-item">
                <a href="/Perfumes" class="nav-link">Perfumes</a>
              </li>
              <li class="nav-item">
                <a href="/Sobre-nosotros" class="nav-link">Sobre Nosotros</a>
              </li>
              <li class="nav-item">
                  <a href="/Contacto" class="nav-link">Contacto</a>
              </li>
            </ul>
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </nav>
       </div>
  </header>
    
    <div class="divPerfuSempi">
        <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <input type="radio" name="slider" id="slide4">
            <div id="slides">
               <div id="overflow">
                  <div class="inner">
                     <div class="slide slide_1">
                        <div class="slide-content">
                            <img src="/imgs/primera.jpg" alt="Perfume nicho-Albarracín-Parfums" class="sempi1">
                        </div>
                     </div>
                     <div class="slide slide_2">
                        <div class="slide-content">
                           <img src="/imgs/quinta.jpg" alt="Perfume nicho-Albarracín-Parfums" class="sempi1">
                        </div>
                     </div>
                     <div class="slide slide_3">
                        <div class="slide-content">
                            <img src="/imgs/tercera.jpg" alt="Perfume nicho-Albarracín-Parfums" class="sempi1">
                        </div>
                     </div>
                     <div class="slide slide_4">
                        <div class="slide-content">
                            <img src="/imgs/cuarta.jpg" alt="Perfume nicho-Albarracín-Parfums" class="sempi1">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="controls">
               <label for="slide1"></label>
               <label for="slide2"></label>
               <label for="slide3"></label>
               <label for="slide4"></label>
            </div>
            <div id="bullets">
               <label for="slide1"></label>
               <label for="slide2"></label>
               <label for="slide3"></label>
               <label for="slide4"></label>
            </div>
         </div>
            
        <div class="sempiText">
            <h2 style="text-align: center;">Sempiterno: un instante eterno</h2>
            <h3 class="h3Sempi">La clásica fragancia de Albarracin Parfums, Sempiterno,<br> una fragancia que transmite elegancia, con unas notas de cuero, chocolate y oud</h3>
            <a href="https://www.albarracinparfums.com.ar/MLA-1675661818-perfume-albarracin-sempiterno-parfum-50ml-_JM#position=1&search_layout=grid&type=item&tracking_id=5b76ca88-995d-4157-a99c-4f5f788cbdf2&slider=v2&design=standard&heigh=large" style="text-decoration: none;"><button class="buySempiPerfu">Saber más</button></a>
        </div>
    </div>

    <div class="divPerfuEuri">
        <div id="slider1">
            <input type="radio" name="slider1" id="slide11" checked>
            <input type="radio" name="slider1" id="slide21">
            <input type="radio" name="slider1" id="slide31">
            <input type="radio" name="slider1" id="slide41">
            <div id="slides1">
               <div id="overflow1">
                  <div class="inner1">
                     <div class="slide slide_11">
                        <div class="slide-content1">
                            <img src="/imgs/euri1.jpg" alt="Perfume nicho-Albarracín-Parfums" class="sempi1">
                        </div>
                     </div>
                     <div class="slide slide_21">
                        <div class="slide-content1">
                           <img src="/imgs/euri2.jpg" alt="Perfume nicho-Albarracín-Parfums" class="sempi1">
                        </div>
                     </div>
                     <div class="slide slide_31">
                        <div class="slide-content1">
                            <img src="/imgs/euri3.jpg" alt="Perfume nicho-Albarracín-Parfums" class="sempi1">
                        </div>
                     </div>
                     <div class="slide slide_41">
                        <div class="slide-content1">
                            <img src="/imgs/euri4.jpg" alt="Perfume nicho-Albarracín-Parfums" class="sempi1">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="controls">
               <label for="slide11"></label>
               <label for="slide21"></label>
               <label for="slide31"></label>
               <label for="slide41"></label>
            </div>
            <div id="bullets">
               <label for="slide11"></label>
               <label for="slide21"></label>
               <label for="slide31"></label>
               <label for="slide41"></label>
            </div>
         </div>

        <div class="euriText">
            <h2 style="text-align: center;">Euritmia: Una danza constante</h2>
            <h3 class="h3Euri">Les traemos la nueva fragancia de Albarracin Parfums!<br> LLega Euritmia, una fragancia nueva y fresca. Euritmia representa a una danza constante y que fluye a lo largo del tiempo</h3>
            <a href="/register" style="text-decoration: none;"><button class="buyEuriPerfu">Comprar</button></a>
        </div>
    </div>

    <footer class="footer">
      <img src="/imgs/prueba1.png" alt="" class="imgFooter">
      <div class="divFooter">
      <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImg" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
      <h3 class="h3Footer2">2025 © Albarracín Parfums</h3>
      </div>
    </footer>
    <footer class="footermobile">
      <div class="divFootermobile">
      <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgmobile" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
      <h3 class="h3Footer2mobile">2025 © Albarracín Parfums</h3>
      <img src="/imgs/prueba1.png" alt="" class="imgFootermobile">
      </div>
      </footer>
    </div>
</body>
</html>