<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta title="Albarracín Parfums - Perfumería de lujo nicho">
        <meta name="description" content="Perfumes únicos, destacados por la fina selección de materiales y una intención de diseño para que destaques del resto.
        Comprá Online, envíos a todo CABA">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link rel="icon" href="/imgs/fragancia-cuero-cafe.svg">
        <title>Albarracin Parfums - Registrar Usuario</title>
        <script defer src="script.js"></script>
        <script defer src="burger.js"></script>
        <script defer src="/js/validation.js"></script> <!-- Archivo para validación en cliente -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
<body class="registerBody">
    <div class="divMain">
        <header class="header"> 
            <nav class="navbar">
                <ol class="olNavbar">
                    <li><a href="/"><img class="logo" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a></li>
                    <li><button class="liNavbar"><a href="/" class="buttonAnchor">Inicio</a></button></li>
                    <li><button class="liNavbar"><a href="/Perfumes" class="buttonAnchor">Perfumes</a></button></li>
                    <li><button class="liNavbar"><a href="/Sobre-nosotros" class="buttonAnchor">Sobre nosotros</a></button></li>
                    <li><button class="liNavbar"><a href="/Contacto" class="buttonAnchor">Contacto</a></button></li>
                    <li><a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgHeader" src="/imgs/Sempiterno-Perfume 50ml.svg"></a></li>
                </ol>
            </nav>
        </header>

        <header class="headerburger">
            <div class="container"> 
                <nav class="navbar">
                  <a href="/"><img class="nav-branding" src="/imgs/fragancia-cuero-cafe.svg" alt="perfume CABA-perfumeria-comprar"></a>
                  <ul class="nav-menu">
                    <li class="nav-item">
                      <a href="/" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a href="/Perfumes" class="nav-link">Perfumes</a>
                    </li>
                    <li class="nav-item">
                      <a href="/Sobre-nosotros" class="nav-link">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Contacto" class="nav-link">Contacto</a>
                    </li>
                  </ul>
                  <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                </nav>
             </div>
        </header>
        
        <br>
        <br>
        <br>
        <br>
    <div class="containerCompra">

        <img src="/imgs/euri.jpg" class="imgEuri"></img>
        
        

        <div class="contain">
            <div>
                <h2 class="producto">EURITMIA - Albarracín Parfums</h2>
                <h3 class="producto" style="color: white;">Si sos cliente,<br> ingresá tu documento para<br> obtener un descuento especial</h3>
                <h3 class="precio3">$ 160.000 </h3>
            </div>
            <form action="/register" method="post" class="register" id="registerForm">

                <h2>Verificación de cliente</h2>
                <br>

                <label for="dni"></label>
                <input type="text" placeholder="Ingresá tu DNI" name="dni" class="control" id="dni" pattern="\d{7,8}" title="Debe ser un número de 7 u 8 dígitos" required><br>
                <% if (locals.errors && errors.dni) { %>
                    <div>
                        <p style="color: red;"><%= errors.dni.msg %></p>
                    </div>
                <% } %>
                <p class="erroresEdit" id="errorDni"></p>
                <h3 class="h3Error mp2" id="errorDescuento">El usuario no está registrado, descuento cancelado.</h3>

                <div class="button-container">
                    <button type="submit" class="formButton">Enviar</button>
                    <button type="reset" class="formButton">Borrar</button>
                </div>

                


            </form>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZocbjiZ_lwqzx6E4kLssCKyq3Bfxt3PjwJ-LeePSBrcu-uA/viewform?usp=dialog"><button class="buyEuri1">Comprar</button></a>

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    
    <footer class="footer">
        <img src="/imgs/prueba1.png" alt="" class="imgFooter">
        <div class="divFooter">
        <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImg" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
        <h3 class="h3Footer2">2025 © Albarracín Parfums</h3>
        </div>
      </footer>
      <footer class="footermobile">
        <div class="divFootermobile">
        <a href="https://www.instagram.com/albarracinparfums/" target="_blank"><img  class="igImgmobile" src="/imgs/Sempiterno-Perfume 50ml.svg"></a>
        <h3 class="h3Footer2mobile">2025 © Albarracín Parfums</h3>
        <img src="/imgs/prueba1.png" alt="" class="imgFootermobile">
        </div>
        </footer>
</div>
</body>
</html>